@import "src/@fuse/scss/fuse";


.content {
    overflow-y: auto;
    padding-left: 32px;
    padding-right: 32px;
}

#restName {
    padding-top: 32px;
    padding-bottom: 16px;
}

#logoUpload {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#logoWrapper {
 //   border: 1px solid black;
    align-items: center;
}