<div class="page-layout carded  fullwidth inner-scroll">
  <!-- HEADER -->
  <div class="header accent"  fxLayout="row wrap" fxLayoutAlign="space-between center">
    <span *ngIf="isCreate" class="logo-text h1 pl-32 pt-16 pb-16"> 
      เพิ่มร้านค้า
    </span>
    <span *ngIf="!isCreate" class="logo-text h1 pl-32 pt-16 pb-16"> 
      {{ restData.name }}
    </span>
  </div>

  <!-- CONTENT -->
  <div class="content">
    <form [formGroup]="restInfoForm" fxLayout="column" fxFlex>
      <!-- Restuarant image/name/display name/description -->
      <div fxLayout="row wrap" id="restName">
        <div fxLayout="column" fxFlex class="mr-32">
          <img [src]="imgLogo" class="mb-32">
          <div class="accent" id="logoWrapper">
            <mat-label>
              เลือกรูปภาพ
            </mat-label>
            <!-- <input type="file" id="logoUpload" /> -->
          </div>
        </div>
        <!-- Name , displayName and description -->
        <div fxLayout="column" fxFlex fxGrow="1.5">
          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>ชื่อร้านค้า</mat-label>
            <input matInput [readonly]="isReadOnly" formControlName="name" name="name">
            <mat-error>
              กรุณาระบุชื่อร้านค้า
          </mat-error>
          </mat-form-field>
              
          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>ชื่อแสดงผล</mat-label>
            <input matInput [readonly]="isReadOnly" formControlName="displayName" name="displayName">
            <mat-error>
              กรุณาระบุชื่อที่ใช้แสดงผล
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>รายละเอียดร้านค้า</mat-label>
            <textarea matInput [readonly]="isReadOnly" formControlName="description" name="description" rows="4">
            </textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="pb-16 h2">
        <mat-label>ที่อยู่ร้านค้า</mat-label>
      </div>

      <div fxLayout="row" id="restAddress">
        <!--  Address Form -->
        <div formGroupName="location" fxLayout="column" fxFlex class="mr-32">
          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>บ้านเลขที่/หมู่/ซอย</mat-label>
            <input matInput [readonly]="isReadOnly" formControlName="addressLine1" name="addressLine1">
            <mat-error>
              กรุณาระบุบ้านเลขที่/หมู่/ซอย
            </mat-error>
          </mat-form-field>
        
          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>ถนน</mat-label>
            <input matInput [readonly]="isReadOnly" formControlName="addressStreet" name="addressStreet">
            <mat-error>
              กรุณาระบุถนน
            </mat-error>
          </mat-form-field>
        
          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>รหัสไปรษณีย์</mat-label>
            <input matInput 
              maxlength="5" minlength="5"
              [readonly]="isReadOnly" 
              (keyup)="filterPostalCode($event)" 
              [matAutocomplete]="auto"
              formControlName="addressPostalCode" 
              name="addressPostalCode"
            >
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='setPostalCode($event.option)'>
              <mat-option *ngFor="let code of filterPostalCodeList.slice(0,10)" [value]="code.postcode">
                <span>{{ code.postcode }}</span> |
                <small>{{ code.subdistrict }}</small> |
                <small>{{ code.district }}</small> |
                <small>{{ code.province }}</small>
              </mat-option>
            </mat-autocomplete>
            <mat-error>
              กรุณาระบุรหัสไปรษณีย์
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>ตำบล/แขวง</mat-label>
            <input matInput 
              [readonly]="isReadOnly" 
              formControlName="addressSubDistrict" 
              name="addressSubDistrict"
            >
            <mat-error>
              กรุณาระบุตำบล/แขวง
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>อำเภอ/เขต</mat-label>
            <input matInput 
              [readonly]="isReadOnly" 
              formControlName="addressDistrict" 
              name="addressDistrict"
            >
            <mat-error>
              กรุณาระบุอำเภอ/เขต
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>จังหวัด</mat-label>
            <input matInput 
              [readonly]="isReadOnly" 
              formControlName="addressProvince" 
              name="addressProvince"
            >
            <mat-error>
              กรุณาระบุจังหวัด
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Mobile and activate -->
        <div fxLayout="column" fxFlex>
          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>เบอร์มือถือ</mat-label>
            <input matInput 
              maxlength="10" minlength="10" 
              type="text"
              [readonly]="isReadOnly" 
              formControlName="mobileNo" 
              name="mobileNo"
            >
            <mat-error>
              กรุณาระบุเบอร์มือถือ
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>เบอร์อื่นๆ</mat-label>
            <input matInput 
              [readonly]="isReadOnly" 
              type="text"
              formControlName="otherNo" 
              name="otherNo"
            >
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" fxFlex>
            <mat-label>จำนวนรองรับ</mat-label>
            <input matInput 
              type="number"
              [readonly]="isReadOnly" 
              formControlName="maxGuestCapacity" 
              name="maxGuestCapacity"
            >
            <mat-error>
              กรุณาระบุจำนวนรองรับ
            </mat-error>
          </mat-form-field>

          <div class="example-full-width"
            appearance="outline" fxFlex 
            fxLayoutAlign="space-between center"
          >
            <mat-slide-toggle formControlName="activate" fxFlex >
              <span class="h2">
                {{ restInfoForm.controls['activate'].value ? "เปิดรับการจอง" : "ปิดรับการจอง" }}
              </span>
            </mat-slide-toggle>
          </div>

          <div class="example-full-width" fxFlex>
            <!-- Empty block : for align layout-->
          </div>

          <!-- when create restuarant -->
          <div 
            class="example-full-width" 
            fxLayout="row" 
            fxFlex 
            fxLayoutAlign="flex-end center"
            *ngIf="isCreate"
          >
            <div>
              <button mat-raised-button color="warn" class="ml-16 mr-16" (click)="onCancel()">
                ยกเลิก
              </button>
            </div>
            <div>
              <button mat-raised-button 
                class="accent ml-16 mr-32" 
                [disabled]="restInfoForm.invalid"
                (click)="onCreate()"
              >
                บันทึก
              </button>
            </div>
          </div>
          <!-- when view and edit restuarant -->
        <div             
          class="example-full-width" 
          fxLayout="row" 
          fxFlex 
          fxLayoutAlign="flex-end center"
          *ngIf="!isCreate"
        >
          <div>
            <button mat-raised-button 
              *ngIf="isReadOnly" 
              class="accent ml-16 mr-32" 
              (click)="onChangeEdit()"
            >
              แก้ไข
            </button>
          </div>
          <div>
            <button mat-raised-button 
              color="warn" 
              *ngIf="!isReadOnly" 
              class="ml-16 mr-16" 
              (click)="onCancelEdit()"
            >
              ยกเลิกแก้ไข
            </button>
          </div>
          <div>
            <button mat-raised-button 
              class="accent ml-16 mr-32" 
              *ngIf="!isReadOnly"
              [disabled]="restInfoForm.invalid" 
              (click)="onConfirmEdit()"
            >
              บันทึกแก้ไข
            </button>
          </div>
        </div>

        </div>
      </div>
    </form>
  </div>
</div>