@import "src/@fuse/scss/fuse";

#emptyRest {
    position: relative;
    left: 48px;
    top: 48px;
}

.content {
    overflow-y: auto;
}

.restuarantList {
    //overflow-y: auto;
}
  
.restuarantCard {
    max-width: 300px;
    margin: 15px 15px 15px 15px;
}

#imgCard {
    padding-left: 5px;
    padding-right: 5px;
}

#contentCard {
    overflow: hidden;
}